<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="example"
            class="org.eclipse.emf.eson.example.library.LibraryPackage"
            genModel="model/library.xcore"/>
   </extension>

</plugin>
